@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.containerWrapper {
  background-color: $primary-color;
  padding: 4rem 1.5rem;

  .container {
    @include flex(row, space-between);
    @include radius-tl-br();
    max-width: 1200px;
    height: 24rem;
    margin: 2rem auto 0 auto;
    background-color: $main-color;
    box-shadow: blue 0px 0px 0px 2px inset,
      rgb(255, 255, 255) 10px -10px 0px -3px,
      lighten($color: $main-color, $amount: 7.5) 10px -10px,
      rgb(255, 255, 255) 20px -20px 0px -3px,
      lighten($color: $main-color, $amount: 15) 20px -20px,
      rgb(255, 255, 255) 30px -30px 0px -3px,
      lighten($color: $main-color, $amount: 22.5) 30px -30px,
      rgb(255, 255, 255) 40px -40px 0px -3px,
      lighten($color: $main-color, $amount: 30) 40px -40px;

    .inputs {
      width: 40%;
      padding-left: 2rem;

      h2 {
        color: #fff;

        font-size: clamp(2rem, 3vw, 3.2rem);
      }
      p {
        color: $light-gray;
      }

      .addresses {
        button {
          background-color: $yellow;
          border: none;
          color: $dark-blue;
          width: 100%;
          margin-top: 10px;
        }

        .input {
          position: relative;

          svg {
            position: absolute;
            top: 1.05rem;
            font-size: 1.1rem;
            left: 0.55rem;
            color: $light-gray;
          }
        }

        ::placeholder {
          color: $light-gray;
        }
      }
    }

    .bgImg {
      width: 60%;
      height: 100%;
      background-image: url('/images/movers.jpg');
      background-size: cover;
      background-position: center;
      -webkit-mask-image: linear-gradient(
        90deg,
        transparent 0,
        $main-color 50%,
        transparent
      );
    }

    @media screen and (max-width: 1024px) {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      border-radius: 2rem;
      margin: 0;

      .inputs {
        width: 45%;
        padding-left: 1rem;
      }

      .bgImg {
        width: 55%;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      height: auto;

      .inputs {
        width: 100%;
        padding-left: 0;
        padding: 1rem 1rem 1.5rem 1rem;
        border-radius: 2rem;
        border-top: 1px solid $light-gray;

        h2 {
          font-size: clamp(1.7rem, 3vw, 2.5rem);
        }

        .addresses {
          .input {
            svg {
              top: 1.1rem;
              left: 0.6rem;
              font-size: 1rem;
            }
          }
        }
      }

      .bgImg {
        width: 100%;
        height: 14rem;
      }
    }
  }
}
