@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.container {
  @include flex(row, space-between, flex-start);
  background-color: $white;
  border-radius: 0.75rem;
  min-width: 800px;
  cursor: pointer;
  transition-duration: 0.1s;

  &:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .map {
    width: 40%;
    background-image: url('https://images.unsplash.com/photo-1586449480558-33ae22ffc60d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
    background-size: cover;
    background-position: center;
    border-radius: 0.75rem;
  }

  .details {
    width: 60%;
    padding: 1rem;
    @include flex(column, flex-start, flex-start);

    p {
      color: gray;
    }
    h4 {
      margin-bottom: 1rem;

      span {
        color: $main-color;
        font-size: clamp(0.95rem, 5vw, 1.2rem);
      }
    }

    .addresses {
      @include flex(column, space-evenly, flex-start);
      border-top: 1px solid $light-blue;
      flex: 1;

      .address {
        @include flex(row, flex-start);

        svg {
          margin-right: 0.75rem;
          font-size: 1.5rem;
        }

        section {
          span {
            font-weight: 600;
          }

          p {
            margin: 0;
            font-size: clamp(0.85rem, 4.5vw, 1.05rem);
          }
        }
      }
    }
  }

  .map,
  .details {
    min-height: 280px;
  }
}
