@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.container {
  @include flex(row, space-between, flex-start);
  background-color: $white;
  border-radius: 0.75rem;
  cursor: pointer;
  transition-duration: 0.1s;
  border: 1px solid $light-blue;
  position: relative;

  &:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .status {
    position: absolute;
    right: 0;
    font-weight: 600;
    border-radius: 0 0.75rem 0 0.75rem;
    padding: 0.3rem 0.5rem;
    z-index: 9999;
  }

  .map,
  .details {
    min-height: 240px;
  }

  .map {
    min-width: 300px;
    border-radius: 0.75rem;
  }

  .details {
    @include flex(column, flex-start, flex-start);
    padding: 1rem;
    flex: 1;

    section {
      width: 350px;

      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        color: gray;
      }
    }

    h4 {
      padding-bottom: 1rem;
      border-bottom: 1px solid $light-blue;
      width: 100%;

      span {
        color: $main-color;
        font-size: clamp(0.95rem, 5vw, 1.2rem);
      }
    }

    .addresses {
      @include flex(column, flex-end, flex-start);
      flex: 1;

      .address {
        @include flex(row, flex-start);

        &:first-child {
          padding-bottom: 0.5rem;
        }

        svg {
          margin-right: 0.75rem;
          font-size: 1.4rem;
        }

        section {
          span {
            font-weight: 600;
          }

          p {
            margin: 0;
            font-size: clamp(0.85rem, 5vw, 1.05rem);
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    min-width: 100%;

    .map,
    .details {
      width: 100%;
    }

    .details {
      .addresses {
        .address {
          svg {
            font-size: 1.2rem;
            margin-right: 0.5rem;
          }

          section {
            width: 265px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 374px) {
    width: 100%;

    .map {
      min-width: 100%;
    }

    .details {
      padding: 0.5rem;

      p {
        padding: 0.5rem 0;
      }

      h4 {
        span {
          font-size: clamp(0.7rem, 5vw, 1rem);
        }
      }

      .addresses {
        display: inline-block;

        .address {
          svg {
            font-size: 0.8rem;
            margin-right: 0.25rem;
          }

          section {
            width: 150px;

            span {
              font-size: clamp(0.7rem, 5vw, 1rem);
            }

            p {
              font-size: clamp(0.6rem, 5vw, 0.9rem);
              height: 1.5rem;
            }
          }
        }
      }
    }
  }
}
