@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.navWrapper {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  z-index: 99;

  .container {
    @include flex(row, space-between, center);
    height: 5rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .navigation {
      @include flex(row, flex-start);
      width: calc(100% / 3);

      button {
        padding: 0;
        letter-spacing: 0;
        border-radius: 0;
        background-color: transparent;
        line-height: 0;

        svg {
          font-size: 1.8rem;
          color: $main-color;
          cursor: pointer;
        }
      }

      span {
        display: inline-block;
        height: 2.3rem;
        width: 2.3rem;
        line-height: 2.3rem;
        text-align: center;
        background-color: $main-color;
        color: $white;
        border-radius: 50%;
        margin: 0 0.5rem 0 1rem;
        font-size: 1.25rem;
        font-weight: 600;
      }

      h3 {
        font-size: clamp(1rem, 5vw, 1.2rem);
      }
    }

    .logo {
      width: calc(100% / 3);
      color: $main-color;
      text-align: center;
    }

    .resetSteps {
      width: calc(100% / 3);
      text-align: end;

      svg {
        font-size: 2.4rem;
        color: $error-color;
        cursor: pointer;
      }
    }
  }
}
