@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.navBarWrapper {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid $light-blue;

  nav {
    @include flex(row, space-evenly, center);
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    span {
      @include flex();
      font-size: clamp(1.02rem, 4vw, 1.2rem);
      font-weight: 500;
      cursor: pointer;
      line-height: 1.5rem;
      transition-duration: 0.2s;
      height: 100%;
      width: 8rem;

      &:hover {
        color: $main-color;
      }
    }

    .activeItem {
      background-color: $main-color;
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  @media screen and (max-width: 767px) {
    height: 4rem;

    nav {
      span {
        width: 5.8rem;
        border-left: 1px solid $light-blue;

        &:first-child {
          border-left: none;
        }
      }
    }
  }

  @media screen and (max-width: 374px) {
    height: 3rem;

    nav {
      span {
        font-size: clamp(0.6rem, 4vw, 1rem);
        width: fit-content;
        padding: 0.3rem;
      }
    }
  }
}
