@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.main {
  .content {
    @include flex(column, flex-start);
    height: calc(100vh - 5rem);
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 1.5rem 0 1.5rem;

    .header {
      text-align: center;

      span {
        display: inline-block;
        font-size: clamp(0.9rem, 4.5vw, 1.2rem);
        color: gray;
        font-weight: 500;
        margin-top: 0.5rem;
      }
    }

    form {
      @include flex(column, center, flex-start);
      padding-top: 3rem;
      min-width: 21rem;

      input {
        border-radius: 0.5rem;
        border: 1px solid $light-gray;
        font-weight: 600;
        font-size: clamp(0.9rem, 4.5vw, 1.3rem);
      }
      ::placeholder {
        font-weight: 500;
      }

      .phoneNumberInput {
        width: 100%;
        margin-bottom: 2rem;
        position: relative;

        .input input:disabled {
          opacity: 0.5;
        }

        select,
        img {
          display: none;
        }

        .borderError input {
          border-color: $error-color;
        }
      }

      .verificationCode {
        width: 100%;
        position: relative;

        input {
          border: 1px solid $light-gray;
        }

        .borderError {
          border-color: $error-color;
        }

        svg {
          color: $main-color;
          font-size: 1.3rem;
          position: absolute;
          right: 1rem;
          top: 1.5rem;
          animation: rotate 1s infinite linear;
        }

        .resendCode {
          position: absolute;
          right: 0.5rem;
          top: 1.35rem;
          font-weight: 600;
          color: $main-color;
          cursor: pointer;
          font-size: clamp(0.85rem, 5vw, 0.95rem);
        }
      }

      .textError {
        position: absolute;
        text-align: center;
        margin-top: 0.3rem;
        width: 100%;
      }

      button {
        width: 100%;
        position: relative;
        height: 3.5rem;

        svg {
          top: 1.15rem !important;
          right: 9.6rem !important;
        }
      }

      button:disabled {
        cursor: default;
      }
    }

    @media screen and (max-width: 767px) {
      form {
        input {
          padding: 1.3rem 1rem;
        }

        button {
          height: 4.2rem;

          svg {
            top: 1.35rem !important;
            right: 10rem !important;
          }
        }

        .verificationCode .resendCode {
          top: 1.6rem;
        }
      }
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
