@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.main {
  .content {
    @include flex(column);
    height: calc(100vh - 5rem);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem 1.5rem 10rem 1.5rem;

    .header {
      // width: fit-content;
      text-align: center;

      span {
        display: inline-block;
        font-size: clamp(0.9rem, 4.5vw, 1.2rem);
        color: gray;
        font-weight: 500;
        margin-top: 1rem;
      }
    }

    form {
      @include flex(column, center, flex-start);
      padding-top: 2rem;
      width: fit-content;

      min-width: 21rem;

      input {
        width: 100%;
        padding: 0.8rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 1.15rem;
        margin: 1.5rem 0;
        border: 1px solid $light-gray;

        &:hover {
          border-color: #111;
        }
      }

      select,
      img {
        display: none;
      }

      .verificationCode {
        width: 100%;
        height: 3.5rem;

        input {
          margin: 0;
        }
      }

      .error {
        height: 2rem;
        padding-top: 0.3rem;
        text-align: center;
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}
