@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.main {
  .content {
    background-color: rgba(16, 15, 15, 0.7);

    .backgroundImg {
      position: fixed;
      top: 5rem;
      min-height: calc(100vh - 5rem);
      width: 100%;
      background-image: url('/images/movers.jpg');
      background-size: cover;
      z-index: -1;
    }

    .container {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 0.6fr;
      align-items: flex-start;
      max-width: 1200px;
      margin: 0 auto;
      padding: 4rem 1.5rem 0 1.5rem;
      box-sizing: content-box;

      .left {
        color: $white;
        margin-right: 1rem;

        h1 {
          font-size: clamp(2.1rem, 6vw, 3.6rem);

          span {
            background-color: $main-color;
            color: $yellow;
            padding: 2px 15px;
            line-height: 1.5;
            @include radius(2rem, 0, 0, 2rem);
          }
        }

        p {
          color: $light-gray;
        }

        .header p span {
          @include radius(1.2rem, 0, 0, 1.2rem);
          background-color: $yellow;
          color: $apricot;
          font-weight: 700;
          padding: 0.05rem 0.5rem;
          font-size: 20px;
        }

        .underHeader {
          padding-bottom: 4rem;
          border-bottom: 1px solid $light-gray;

          img {
            margin: 1.8rem 0;
          }
        }

        .becomeMover {
          padding: 4rem 0;

          span {
            color: $white;
          }

          .perks {
            padding-top: 3rem;

            li {
              @include flex(row, flex-start);
              list-style: none;
              margin-bottom: 1.5rem;

              section {
                width: 85%;
                padding-left: 1.5rem;

                p {
                  margin-top: 5px;
                }
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .right {
        form {
          @include flex(column, space-between, flex-start);
          background-color: $white;
          padding: 1.5rem;
          border-radius: 0.5rem;
          width: 100%;
          box-sizing: border-box;

          .input {
            @include flex(column, space-between, flex-start);
            margin-bottom: 1rem;
            width: 100%;
            position: relative;

            label {
              padding-bottom: 0.5rem;
              font-size: 1.15rem;
              font-weight: 500;
            }

            input,
            select {
              width: 100%;
              border-radius: 0.5rem;
              border: 1px solid $light-gray;

              &:hover {
                border-color: #111;
              }
            }
            select {
              cursor: pointer;
              padding: 1rem 0.5rem;
            }

            .error {
              width: 100%;
              padding: 0.3rem 0 0 0.5rem;
            }
          }

          button {
            box-sizing: border-box;
            width: 100%;
            margin-top: 2rem;
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .container {
        grid-template-columns: 1fr;
        padding: 4rem 1.5rem 4rem 1.5rem;

        .left {
          margin-right: 0;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .container {
        .left {
          .becomeMover {
            .perks {
              li {
                width: 100%;
                justify-content: space-between;

                img {
                  width: 45px;
                  height: 45px;
                }
                section {
                  width: 82%;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 374px) {
      .backgroundImg {
        top: 3rem;
        min-height: calc(100vh - 3rem);
        background-position: center;
      }

      .container {
        padding: 3rem 0.5rem 2rem 0.5rem;

        .left {
          h1 {
            font-size: clamp(1.1rem, 6vw, 2.1rem) !important;

            span {
              padding: 0 10px;
            }
          }
          .header p span {
            font-size: 14px;
            padding: 0 0.4rem;
          }

          .underHeader {
            padding-bottom: 2rem;
          }
          .becomeMover {
            padding: 2rem 0;

            .perks {
              padding-top: 1rem;

              li {
                img {
                  width: 32px;
                  height: 32px;
                }
                section {
                  width: 80%;
                }
              }
            }
          }
        }

        .right {
          form {
            padding: 0.5rem;

            .input {
              label {
                font-size: 0.7rem;
              }

              input,
              select {
                font-size: 0.7rem;
                padding: 0.1rem 0.2rem;
              }

              .birthDate {
                padding: 0.5rem 0.5rem 0.5rem 0;
              }
            }

            button {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
