@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.navWrapper {
  position: sticky;
  top: 0;
  background-color: rgba(237, 243, 247, 0.5);
  backdrop-filter: blur(5px);
  z-index: 99;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 6rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .navigation {
      @include flex(row, flex-start);

      button {
        padding: 0;
        letter-spacing: 0;
        border-radius: 0;
        background-color: transparent;
        line-height: 0;

        svg {
          height: 2.7rem;
          width: 2.7rem;
          color: $main-color;
          background-color: $white;
          margin-right: 1rem;

          &:hover {
            background-color: $main-color;
            color: $white;
            border-radius: 50%;
          }
        }
      }

      span {
        display: inline-block;
        height: 2.7rem;
        width: 2.7rem;
        line-height: 2.7rem;
        text-align: center;
        background-color: $main-color;
        color: $white;
        border-radius: 50%;
        font-size: 1.35rem;
        font-weight: 600;

        svg {
          height: 2.7rem;
        }
      }

      h3 {
        font-size: clamp(1.15rem, 6vw, 1.3rem);
        margin-left: 0.5rem;
        color: $dark-blue;
      }
    }

    .logo {
      @include flex();
      color: $main-color;

      h2 {
        width: fit-content;
        cursor: pointer;
      }
    }

    .resetSteps {
      text-align: end;

      svg {
        height: 2.7rem;
        width: 2.7rem;
        color: $error-color;
        cursor: pointer;

        &:hover {
          background-color: $error-color;
          color: $white;
          border-radius: 50%;
        }
      }
    }

    button:disabled {
      cursor: text;
      opacity: 0.5;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 0.8fr 1fr;
    }

    @media screen and (max-width: 767px) {
      @include flex(row, space-between);
      padding: 0 1rem;

      .navigation {
        width: fit-content;
        button {
          width: fit-content;

          svg {
            margin-right: 0.5rem;
          }
        }
      }

      .logo {
        display: none;
      }
    }

    @media screen and (max-width: 374px) {
      height: 3rem;
      padding: 0 0.5rem;

      .navigation {
        button {
          svg {
            height: 1.4rem;
            width: 1.4rem;
            margin-right: 0.2rem;
          }
        }

        span {
          height: 1.4rem;
          width: 1.4rem;
          line-height: 1.4rem;
          font-size: 0.7rem;
          margin-right: 0.5rem;

          svg {
            height: 1.4rem;
          }
        }

        h3 {
          font-size: clamp(0.75rem, 5vw, 1rem);
          margin-left: 0rem;
        }
      }

      .resetSteps {
        svg {
          height: 1.4rem;
          width: 1.4rem;
        }
      }
    }
  }
}
