@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.navWrapper {
  position: sticky;
  top: 0;
  background-color: rgba(237, 243, 247, 0.3);
  backdrop-filter: blur(5px);
  z-index: 99;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 6rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .navigation {
      @include flex(row, flex-start);

      .arrowLeft {
        svg {
          height: 2.7rem;
          width: 2.7rem;
          color: $main-color;

          &:hover {
            background-color: $main-color;
            color: $white;
            border-radius: 50%;
          }
        }
      }

      span {
        display: inline-block;
        height: 2.7rem;
        width: 2.7rem;
        line-height: 2.7rem;
        text-align: center;
        background-color: $main-color;
        color: $white;
        border-radius: 50%;
        font-size: 1.35rem;
        font-weight: 600;
        margin: 0 0.5rem 0 1rem;

        svg {
          height: 2.7rem;
        }
      }

      h3 {
        font-size: clamp(1.1rem, 6vw, 1.2rem);
        font-weight: 600;
      }
    }

    .logo {
      @include flex();
      color: $main-color;

      h2 {
        width: fit-content;
        cursor: pointer;
      }
    }

    .resetSteps {
      text-align: end;

      svg {
        height: 2.7rem;
        width: 2.7rem;
        color: $error-color;
        cursor: pointer;

        &:hover {
          background-color: $error-color;
          color: $white;
          border-radius: 50%;
        }
      }
    }

    button {
      padding: 0;
      letter-spacing: 0;
      border-radius: 0;
      background-color: transparent;
      line-height: 0;
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 0.8fr 1fr;
      padding: 0;

      .navigation {
        width: fit-content;

        .arrowLeft {
          background-color: $main-color;
          width: fit-content;

          @include radius(0, 0.5rem, 0, 0.5rem);

          svg {
            color: $white;
            margin-right: 0;
          }
        }
      }

      .resetSteps {
        svg {
          @include radius(0.5rem, 0, 0.5rem, 0);
          background-color: $error-color;
          color: $white;

          &:hover {
            @include radius(0.5rem, 0, 0.5rem, 0);
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      @include flex(row, space-between);

      .logo {
        display: none;
      }
      .resetSteps {
        width: fit-content;
      }
    }

    @media screen and (max-width: 374px) {
      height: 3rem;

      .navigation {
        .arrowLeft {
          svg {
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.1rem;
          }
        }

        span {
          height: 1.5rem;
          width: 1.5rem;
          line-height: 1.5rem;
          font-size: 0.7rem;
          margin-right: 0.3rem;

          svg {
            height: 1.5rem;
          }
        }

        h3 {
          font-size: clamp(0.7rem, 5vw, 1rem);
          margin-left: 0rem;
        }
      }

      .resetSteps {
        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
}
