@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.navWrapper {
  position: sticky;
  top: 0;
  background-color: rgba(237, 243, 247, 0.3);
  backdrop-filter: blur(5px);
  z-index: 99;
  position: fixed;
  width: 100%;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .navigation {
      @include flex(row, flex-start);

      .arrowLeft {
        height: 2.7rem;
        width: 2.7rem;
        cursor: pointer;
        color: $main-color;
        border-radius: 50%;

        svg {
          height: 100%;
          width: 100%;
        }

        &:hover {
          background-color: $main-color;
          color: $white;
        }
      }

      span {
        display: inline-block;
        height: 2.7rem;
        width: 2.7rem;
        line-height: 2.7rem;
        text-align: center;
        background-color: $main-color;
        color: $white;
        border-radius: 50%;
        font-weight: 600;
        font-size: 1.35rem;
        margin: 0 0.5rem 0 1rem;

        svg {
          height: 2.7rem;
        }
      }

      h3 {
        font-size: clamp(1.05rem, 6vw, 1.15rem);
      }
    }

    .nextButton,
    .logOutBtn {
      text-align: end;

      button {
        width: 6rem;
      }
    }

    .logOutBtn svg {
      height: 2.2rem;
      width: 2.2rem;
      cursor: pointer;
      color: $error-color;
    }

    @media screen and (max-width: 1024px) {
      padding: 0 1.5rem 0 0;

      .navigation {
        width: fit-content;

        .arrowLeft {
          background-color: $main-color;
          width: fit-content;
          color: $white;
          @include radius(0, 0.5rem, 0, 0.5rem);
        }
      }

      .nextButton {
        button {
          width: fit-content;
        }
      }
    }

    @media screen and (max-width: 767px) {
      @include flex(row, space-between);
      padding: 0;
      height: 4rem;

      .navigation {
        height: 100%;

        .arrowLeft {
          @include flex();
          height: 100%;
          border-radius: 0;
          width: 4.5rem;

          svg {
            height: 80%;
          }
        }
      }

      .nextButton {
        width: fit-content;
        height: 100%;

        button {
          height: 100%;
          border-radius: 0;
        }
      }

      .logOutBtn {
        @include flex();
        width: 4.5rem;
        height: 100%;
        background-color: $error-color;

        svg {
          color: $white;
        }
      }
    }

    @media screen and (max-width: 374px) {
      height: 3rem;

      .navigation {
        .arrowLeft {
          width: 2.2rem;

          svg {
            height: 60%;
          }
        }

        span {
          height: 1.5rem;
          width: 1.5rem;
          line-height: 1.5rem;
          font-size: 0.7rem;
          margin: 0 0.3rem 0 0.3rem;

          svg {
            height: 1.5rem;
          }
        }

        h3 {
          font-size: clamp(0.7rem, 5vw, 1rem);
          margin-left: 0rem;
        }
      }

      .logOutBtn {
        width: 2.2rem;

        svg {
          width: 60%;
        }
      }

      .nextButton {
        button {
          width: 2.2rem;
        }
      }
    }
  }
}
