@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.main {
  .stepContainer {
    min-height: calc(100vh - 6rem);
    background-image: url('/images/bgImg.png');
    background-size: cover;

    @media screen and (max-width: 374px) {
      min-height: calc(100vh - 3rem);
    }
  }
}
