@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.main {
  .background {
    background-image: url('/images/bgImg.png');
    background-position: fixed;
    background-size: cover;

    .stepContainer {
      min-height: calc(100vh - 6rem);
      overflow: hidden;
    }
  }
}
