@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  min-height: calc(100dvh - 5rem);
  padding: 2rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  form {
    border: 1px solid red;

    input {
      background-color: $white;
    }
  }

  @media screen and (max-width: 767px) {
    min-height: calc(100dvh - 4rem);
  }

  @media screen and (max-width: 374px) {
    min-height: calc(100dvh - 3rem);
  }
}
