@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  min-height: calc(100dvh - 5rem);
  padding: 2rem 1.5rem 3rem 1.5rem;
  max-width: 800px;
  margin: 0 auto;

  .mapDetails {
    @include flex(column, space-between);
    background-color: $white;
    border-radius: 0.75rem;

    .details {
      flex: 1;
      width: 100%;
      padding: 1rem;

      .addresses {
        padding-bottom: 1rem;
        border-bottom: 1px solid $light-blue;

        .pickup,
        .dropOff {
          @include flex(row, space-between);
          width: 100%;

          .address {
            flex: 1;
          }
        }

        .pickup {
          margin-bottom: 1rem;
        }
      }

      .dateTime {
        @include flex(row, space-between);
        padding: 1rem 0;
        border-bottom: 1px solid $light-blue;

        .info {
          flex: 1;
        }
      }

      .desc {
        @include flex(row, space-between);
        padding: 1rem 0;
        border-bottom: 1px solid $light-blue;

        .dataIcon {
          transform: scale(1.4);
        }

        .text {
          flex: 1;
        }
      }

      .addContacts {
        @include flex(row, space-between);
        padding: 1rem 0;
        border-bottom: 1px solid $light-blue;

        .dataIcon {
          transform: scale(1.4);
        }

        .contacts {
          @include flex(row, flex-start);
          flex: 1;

          .contact {
            background-color: $light-blue;
            padding: 0 0.4rem;
            border-radius: 0.5rem;

            span {
              margin: 0;
              color: $main-color;
            }
          }
        }
      }

      .vehicleType {
        @include flex(row, space-between);
        padding: 1rem 0;
        border-bottom: 1px solid $light-blue;

        .vehicle {
          flex: 1;
        }
      }

      .paymentMethod {
        @include flex(row, space-between);
        padding: 1rem 0 3rem 0;
        border-bottom: 1px solid $light-blue;

        .info {
          flex: 1;
          position: relative;
        }

        .card {
          @include flex(row, flex-start);
          position: absolute;
          left: -0.5rem;
          font-weight: 500;

          p {
            span {
              color: $main-color;
              margin: 0 0 0 0.5rem;
            }
          }
        }
      }

      .price {
        @include flex(row, flex-start);
        padding: 2rem 0 1rem 0;

        p {
          margin-right: 1rem;
          color: $main-color;
        }

        h3 {
          margin: 0;
          color: green;
        }
      }

      // .details level styles
      .dataIcon {
        margin-right: 1rem;
        transform: scale(1.2);
        color: $main-color;
      }

      .editIcon {
        font-size: 1.5rem;
        margin-left: 1rem;
        color: $main-color;
        cursor: pointer;

        &:hover {
          color: lighten($color: $main-color, $amount: 20);
        }
      }

      h3 {
        font-size: clamp(1.1rem, 5vw, 1.3rem);
        margin-bottom: 0.5rem;
      }

      p {
        margin: 0;
      }
      span {
        display: inline-block;
        font-weight: 500;
        color: gray;
        margin-bottom: 0.3rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    min-height: calc(100dvh - 4rem);
    padding: 0;

    .mapDetails {
      border-radius: 0;
    }
  }

  @media screen and (max-width: 374px) {
    min-height: calc(100dvh - 3rem);
  }
}
