@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  padding: 2rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  form {
    @include flex(column, flex-start);
    max-width: 500px;
    gap: 1rem;
    padding: 1rem;
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 374px) {
    padding: 1.5rem 0.5rem;
  }
}
