@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  min-height: calc(100dvh - 5rem);
  @include flex();
  padding: 2rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    min-height: calc(100dvh - 4rem);
  }

  @media screen and (max-width: 374px) {
    min-height: calc(100dvh - 3rem);
    padding: 1.5rem 0.5rem;
  }
}
