@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  min-height: calc(100dvh - 5rem);
  @include flex(row, space-between);
  // change on mobile to take full screen
  padding: 2rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  .dateTimeDesc {
    min-height: calc(100vh - 9rem);
    width: 50%;
    border-radius: 0.75rem;
    background-color: $white;
  }

  .mapDetails {
    @include flex(column, space-between);
    width: 420px;
    background-color: $white;
    border-radius: 0.75rem;

    .map {
      height: 230px;

      img {
        height: 100%;
        object-fit: cover;
        @include radius(0.75rem, 0.75rem, 0, 0);
      }
    }

    .details {
      flex: 1;
      width: 100%;
      padding: 1rem;

      .addresses {
        padding-bottom: 1rem;
        border-bottom: 1px solid $light-blue;

        .pickup,
        .dropOff {
          @include flex(row, space-between);
          width: 100%;

          .address {
            flex: 1;
          }
        }

        .pickup {
          margin-bottom: 1rem;
        }
      }

      .dateTime {
        @include flex(row, space-between);
        padding: 1rem 0;
        border-bottom: 1px solid $light-blue;

        .info {
          flex: 1;
        }
      }

      .vehicleType {
        @include flex(row, space-between);
        padding: 1rem 0;
        border-bottom: 1px solid $light-blue;

        .vehicle {
          flex: 1;
        }
      }

      .price {
        @include flex(row, flex-start);
        padding-top: 1rem;

        span {
          margin-right: 1rem;
        }
      }

      // .details level styles
      .dataIcon {
        margin-right: 1.5rem;
        transform: scale(1.2);
        color: $main-color;
      }

      .editIcon {
        font-size: 1.5rem;
        color: $main-color;
        cursor: pointer;

        &:hover {
          color: lighten($color: $main-color, $amount: 20);
        }
      }

      h3 {
        font-size: clamp(1.1rem, 5vw, 1.3rem);
        margin-bottom: 0.5rem;
      }

      p {
        margin: 0;
      }
      span {
        display: inline-block;
        font-weight: 500;
        color: gray;
        margin-bottom: 0.3rem;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;

    .dateTimeDesc {
      width: 70%;
    }

    .mapDetails {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    min-height: calc(100dvh - 4rem);

    .dateTimeDesc {
      width: 100%;
    }
  }

  @media screen and (max-width: 374px) {
    min-height: calc(100dvh - 3rem);
  }
}
