@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.container {
  @include flex(column, space-between, flex-start);
  position: relative;
  background-color: $white;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0 0.5rem;

  .rating {
    @include flex(row, space-between);
    position: relative;
    width: 100%;

    .stars {
      svg {
        margin-right: 0.3rem;
      }
    }

    .ratingValue {
      position: absolute;
      display: inline-block;
      font-size: 1.05rem;
      right: -2rem;
      top: -2rem;
      font-weight: 700;
      border-radius: 50%;
      height: 3.2rem;
      width: 3.2rem;
      background-color: $yellow;
      border: 5px dashed $primary-color;
      text-align: center;
      line-height: calc(3.2rem - 10px);
    }
  }

  .desc {
    line-height: 1.3;
    font-size: 1.03rem;
    font-weight: 600;
    margin: 0.8rem 0;
    width: 19rem;
    height: 3.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Set the desired maximum number of lines */
    -webkit-box-orient: vertical;
  }

  .details {
    .name {
      display: inline-block;
      color: $white;
      height: 1.8rem;
      width: 1.8rem;
      border-radius: 50%;
      text-align: center;
      line-height: 1.8rem;
      font-weight: 700;
      font-size: 0.95rem;
      margin-right: 0.5rem;
      /* Use custom property to generate random colors */
      background-color: hsl(var(--hue), 70%, 50%);
    }
    .location {
      color: $gray;
      margin: 0;
      font-weight: 600;
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0.8rem;

    .rating {
      .ratingValue {
        right: -1.5rem;
        top: -1.5rem;
        height: 2.8rem;
        width: 2.8rem;
        line-height: calc(2.8rem - 10px);
        font-size: 1rem;
      }
    }

    .desc {
      height: 3.9rem;
      width: 16rem;
      font-size: 0.98rem;
    }

    .details {
      .name {
        height: 1.6rem;
        width: 1.6rem;
        line-height: 1.6rem;
        font-size: 0.9rem;
        margin-right: 0.4rem;
      }
      .location {
        font-size: 0.85rem;
      }
    }
  }
}
