@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.container {
  @include flex(column, space-between);
  width: 49%;
  height: 16.5rem;
  background-color: $white;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    .info {
      h4 {
        background-color: $main-color;
        color: $white;
      }
      p {
        border-color: transparent;
      }
    }
  }

  .img {
    height: 110px;
    padding-top: 1rem;

    img {
      max-width: 200px;
    }
  }

  .info {
    @include flex(column);
    width: 100%;

    .title {
      @include flex();
      gap: 0.5rem;

      h3 {
        font-size: clamp(1.2rem, 5vw, 1.38rem);
      }

      span {
        @include radius(0.5rem, 0, 0, 0.5rem);
        font-size: clamp(0.8rem, 4.5vw, 0.9rem);
        font-weight: 600;
        padding: 0.3rem 0.5rem;
        background-color: $main-color;
        color: $white;
      }
    }

    p {
      text-align: center;
      color: $dark-blue;
      font-weight: 500;
      line-height: 1.2 !important;
      font-size: clamp(0.9rem, 4.5vw, 1rem);
      padding: 0.3rem 0 0.75rem 0;
      width: 90%;
      border-bottom: 1px solid $light-blue;
    }

    h4 {
      @include radius(0, 0, 0.75rem, 0.75rem);
      font-size: clamp(1rem, 5vw, 1.2rem);
      text-align: center;
      width: 100%;
      font-weight: 600;
      padding: 1rem 0;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 17rem;
  }

  @media screen and (max-width: 767px) {
    &:hover {
      .info {
        h4 {
          background-color: $white;
          color: #111;
        }
        p {
          border-color: $light-blue;
        }
      }
    }
  }

  @media screen and (max-width: 374px) {
    height: 10.5rem;

    .img {
      height: 80px;
      padding-top: 0.5rem;

      img {
        max-width: 130px;
      }
    }

    .info {
      .title {
        h3 {
          font-size: clamp(0.85rem, 5vw, 1.2rem);
        }

        span {
          font-size: clamp(0.6rem, 4.5vw, 0.8rem);
          padding: 0.2rem 0.4rem;
          font-size: clamp(0.6rem, 4.5vw, 0.8rem);
        }
      }

      p {
        font-size: clamp(0.65rem, 4.5vw, 0.8rem);
        padding: 0.1rem 0 0.5rem 0;
      }

      h4 {
        font-size: clamp(0.7rem, 5vw, 1rem);
        padding: 0.5rem 0;
      }
    }
  }
}

.vehicleSelected {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  .info {
    h4 {
      background-color: $main-color;
      color: $white;
    }
    p {
      border-color: transparent;
    }
  }
}
