@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.navWrapper {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  z-index: 99;

  .container {
    @include flex(row, space-between);
    height: 5rem;
    padding: 0 1.5rem;
    transition: opacity 0.3s ease-in-out;
    max-width: 1400px;
    margin: 0 auto;

    .logo {
      position: relative;
      height: 100%;
      width: 40%;

      img {
        position: relative;
        left: -2.5rem;
        width: 13rem;
        object-fit: cover;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }

      span {
        position: absolute;
        font-size: clamp(0.7rem, 4vw, 0.95rem);
        color: gray;
        font-weight: 500;
        top: 3.55rem;
        left: 3rem;
        width: 100%;
      }
    }

    .burgerMenu {
      display: none;

      @media screen and (max-width: 850px) {
        display: block;
        font-size: 2.2rem;
        color: $main-color;
        cursor: pointer;
      }
      @media screen and (max-width: 374px) {
        font-size: clamp(1.2rem, 5vw, 1.4rem);
      }
    }

    .navLinks {
      @include flex(row, space-between);
      width: 40%;

      .loginLink {
        @include flex();

        svg {
          margin-left: 0.2rem;
        }
      }

      @media screen and (max-width: 850px) {
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      .logo {
        width: 80%;
      }
    }

    @media screen and (max-width: 374px) {
      height: 3rem;
      padding: 0.5rem;

      .logo {
        img {
          width: 8rem;
          left: -1.5rem;
        }
        h2 {
          font-size: clamp(1.25rem, 10vw, 2.5rem) !important;
          margin: 0 !important;
        }
        span {
          font-size: clamp(0.4rem, 4vw, 0.65rem);
          width: fit-content;
          left: 1.85rem;
          top: 1.6rem;
        }
      }
    }
  }
}
