@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.main {
  .content {
    @include flex(row, space-between);
    padding: 4rem 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;

    .input {
      width: 50%;
      align-self: flex-start;

      .searchInput {
        position: relative;

        input {
          border: 1px solid $gray;
          padding: 0.5rem 1rem 0.5rem 3rem;
          border-radius: 0.5rem;
          width: 100%;
        }

        svg {
          position: absolute;
          top: 0.8rem;
          left: 0.9rem;
          color: $gray;
          font-size: 1.2rem;
        }

        &:hover {
          input {
            border-color: #111;
          }
          svg {
            color: #111;
          }
        }
      }
    }

    img {
      width: 50%;
      border-bottom: 1px solid $light-blue;
    }
  }
}
