@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  min-height: 100vh;
  z-index: 1;
  padding: 4rem 2rem 2rem 2rem;

  span {
    font-size: clamp(0.95rem, 4.5vw, 1.2rem);
    color: gray;
    font-weight: 500;
  }

  .steps {
    margin-top: 4rem;

    .verticalTimeline {
      width: 100%;
      padding: 0;

      h3 {
        color: $main-color;
        margin: 1rem 0 0.7rem 0;
      }
      svg {
        transform: scale(1.4);
      }
    }

    .step {
      padding: 0;
      position: relative;

      div {
        padding: 0 0 1rem 0;

        &:nth-child(1) {
          padding: 0;
        }
      }

      p {
        color: $dark-blue;
        margin: 0;
      }

      img {
        height: 12rem;
        object-fit: contain;
        z-index: 1;
      }
    }
  }
}
