@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  z-index: 1;
  padding: 4rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: content-box;

  span {
    font-size: clamp(0.95rem, 4.5vw, 1.2rem);
    color: gray;
    font-weight: 500;
  }

  .steps {
    margin-top: 4rem;

    .verticalTimeline {
      width: 100%;
      padding: 0;
      margin: 0;

      h3 {
        color: $main-color;
        margin: 1rem 0 0.7rem 0;
      }

      svg {
        transform: scale(1.4);
      }
    }

    .step {
      padding: 0;
      margin: 0.5rem 0 0 0;

      div {
        padding: 0 0 1rem 0;

        &:nth-child(1) {
          padding: 0;
        }
      }

      p {
        margin: 0;
        font-size: clamp(0.9rem, 4.5vw, 1.15rem);
        // line-height: 1.5;
      }

      img {
        height: 12rem;
        object-fit: contain;
        width: auto;
        height: auto;
        z-index: 1;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 2rem;
  }
  @media screen and (max-width: 374px) {
    padding: 2rem 0.5rem;

    span {
      font-size: clamp(0.7rem, 4.5vw, 0.95rem);
    }
  }
}
