@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1.5rem 2rem 1.5rem;
  box-sizing: content-box;

  .collapse {
    width: 70%;
    background-color: $white;
    padding-top: 1rem;

    .panel {
      padding: 0;

      p {
        margin: 0;
      }

      svg {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .collapse {
      width: 100%;
    }
  }
}
