@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.wrapper {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    box-sizing: content-box;

    h2 {
      line-height: 1.3;
    }

    .collapse {
      width: 70%;
      background-color: $white;
      padding-top: 1rem;

      .panel {
        padding: 0;

        p {
          margin: 0;
          font-size: clamp(0.6rem, 4.5vw, 1.08rem);
        }

        svg {
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .collapse {
        width: 100%;
      }
    }

    @media screen and (max-width: 767px) {
      padding-top: 2rem;
    }

    @media screen and (max-width: 374px) {
      padding: 2rem 0.5rem;
    }
  }
}
