@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  max-width: 500px;

  h4 {
    padding: 2rem 0 0.5rem 0;
  }

  form {
    // @include flex(column, center, flex-start);
    // width: fit-content;
    .cardElementWrapper {
      padding: 1rem 0;

      .test {
        border: 1px solid red;

        padding: 0.5rem;

        input {
          border: 1px solid red;
          font-size: 1.2rem;
        }
      }
    }

    .cardInputContainer {
      // padding-bottom: 0.5rem;
    }

    .encryptText {
      padding: 0.5rem 0 1.5rem 0;
      color: gray;
      font-size: clamp(0.7rem, 5vw, 0.95rem);
      font-weight: 500;
    }

    .extraInfo {
      @include flex(row, space-between, center);

      width: 100%;

      input {
        width: 49%;
        background-color: $white;
        font-size: 1.2rem;
      }
    }

    button {
      width: 100%;
      margin-top: 2rem;
    }
  }

  .assureCustomer {
    padding-top: 3rem;
    color: gray;
    font-size: clamp(0.7rem, 5vw, 1.05rem);
    line-height: 1.5;
    font-weight: 500;

    span {
      color: $main-color;
      font-weight: 700;
    }
  }
}
