@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  position: relative;

  .content {
    @include flex(column, flex-start);
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 8rem 1.5rem 0rem 1.5rem;

    .header {
      padding-bottom: 3rem;
      text-align: center;

      h2 {
        width: 100%;
        margin-bottom: 0.3rem;
        font-size: clamp(1.75rem, 4.5vw, 2.4rem);
      }
      span {
        width: 100%;
        display: inline-block;
        font-size: clamp(0.95rem, 4.5vw, 1.2rem);
        color: gray;
        font-weight: 500;
      }
    }

    .addresses {
      width: fit-content;
    }

    @media screen and (max-width: 767px) {
      padding-top: 3rem;

      .header {
        padding-bottom: 4rem;
      }
    }

    @media screen and (max-width: 374px) {
      padding: 1rem 0.5rem 0rem 0.5rem;

      .header {
        padding-bottom: 1.5rem;

        h2 {
          font-size: clamp(0.95rem, 5vw, 2rem);
        }
        span {
          font-size: clamp(0.75rem, 4.5vw, 1rem);
        }
      }
    }
  }
}
