@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  min-height: calc(100vh - 6rem);
  padding: 2rem 1.5rem;
  max-width: 900px;
  margin: 0 auto;

  .vehicles {
    @include flex();
    gap: 1rem;
  }

  button {
    width: 100%;
    margin-top: 1rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 2rem 4rem;
  }

  @media screen and (max-width: 767px) {
    padding: 2rem 1.5rem;

    .vehicles {
      gap: 1.5rem;
    }

    button {
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: 374px) {
    padding: 2rem 0.5rem;

    .vehicles {
      gap: 1rem;
    }

    button {
      margin-top: 1rem;
    }
  }
}
