@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  min-height: calc(100dvh - 5rem);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  max-width: 900px;
  margin: 0 auto;

  .header {
    text-align: center;

    h2 {
      width: 100%;
      margin-bottom: 0.3rem;
      font-size: clamp(1.75rem, 4.5vw, 2.4rem);
    }
    span {
      width: 100%;
      display: inline-block;
      font-size: clamp(0.95rem, 4.5vw, 1.2rem);
      color: gray;
      font-weight: 500;
    }
  }

  .vehicles {
    @include flex();
    gap: 1rem;
    padding-top: 2rem;
  }

  @media screen and (max-width: 374px) {
    padding: 1rem 0.5rem;

    .header {
      h2 {
        font-size: clamp(0.95rem, 5vw, 2rem);
      }
      span {
        font-size: clamp(0.75rem, 4.5vw, 1rem);
      }
    }

    .vehicles {
      gap: 0.5rem;
    }
  }
}
