@import '/styles/variables.module.scss';
@import '/styles/mixins.module.scss';

.container {
  min-height: calc(100dvh - 5rem);
  margin-top: 5rem;
  background-color: $primary-color;

  .navWrapper {
    position: fixed;
    top: 0;
    background-color: rgba(237, 243, 247, 0.3);
    backdrop-filter: blur(5px);
    z-index: 99;
    width: 100%;
    border-bottom: 1px solid $light-blue;

    nav {
      @include flex(row, space-between);
      height: 5rem;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1.5rem;

      .left {
        @include flex();

        span {
          display: inline-block;
          height: 2.7rem;
          width: 2.7rem;
          line-height: 2.7rem;
          text-align: center;
          background-color: $main-color;
          color: $white;
          border-radius: 50%;
          font-weight: 600;
          font-size: 1.35rem;
          margin-right: 0.5rem;

          svg {
            height: 2.7rem;
          }
        }
      }

      .logOutBtn {
        svg {
          height: 2.2rem;
          width: 2.2rem;
          cursor: pointer;
          color: $error-color;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    min-height: calc(100dvh - 4rem);
    margin-top: 4rem;

    nav {
      height: 4rem;
    }
  }

  @media screen and (max-width: 374px) {
    min-height: calc(100dvh - 3rem);
    margin-top: 3rem;

    .navWrapper {
      nav {
        height: 3rem;
        padding: 0 0.5rem;

        .left {
          span {
            height: 1.5rem;
            width: 1.5rem;
            line-height: 1.5rem;
            font-size: 0.7rem;
            margin-right: 0.3rem;

            svg {
              height: 1.5rem;
            }
          }

          h3 {
            font-size: clamp(0.7rem, 5vw, 1rem);
          }
        }

        .logOutBtn {
          width: 2.2rem;

          svg {
            transform: scale(0.7);
          }
        }
      }
    }
  }
}
