@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.dashboardWrapper {
  background-color: $primary-color;

  .loadingContainer {
    @include flex();
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.7);

    svg {
      font-size: 3rem;
    }
  }

  .main {
    @include flex(column, flex-start);
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100dvh - 5rem);
    padding: 2rem 1.5rem;

    button {
      width: 720px;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 767px) {
      min-height: calc(100dvh - 4rem);

      button {
        width: 100%;
      }
    }

    @media screen and (max-width: 374px) {
      min-height: calc(100dvh - 3rem);
      padding: 1rem 0.5rem;

      button {
        margin-bottom: 1rem;
      }
    }
  }
}
