@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.dashboardWrapper {
  background-color: $primary-color;

  .main {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    min-height: calc(100dvh - 4rem);
    padding: 2rem 1.5rem;

    .dashboardContainer {
    }

    @media screen and (max-width: 767px) {
      min-height: calc(100dvh - 3rem);
    }

    @media screen and (max-width: 374px) {
      min-height: calc(100dvh - 2rem);
      padding: 1.5rem 0.5rem;
    }
  }
}
