@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNovaBlack.woff2') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNovaExtrabold.woff2') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNovaRegular.woff2') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('/fonts/ProximaNovaLight.woff2') format('truetype');
  font-weight: 400;
}
