@import 'normalize.css';
@import './variables.module.scss';
// @import './fonts.scss';
@import url('https://use.typekit.net/qzf0hrt.css');

// Global SCSS Reset

// Box sizing
html {
  box-sizing: border-box;
  font-family: 'proxima-nova', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Reset margins and paddings
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

// Reset lists
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Reset typography
body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

// Reset links
a {
  color: inherit;
  text-decoration: none;
}

// Reset images
img {
  max-width: 100%;
  height: auto;
}

// Reset form elements
button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  resize: none;
  &::-webkit-input-placeholder {
    color: inherit;
  }
  &::-moz-placeholder {
    color: inherit;
  }
  &::-ms-input-placeholder {
    color: inherit;
  }
  &::-moz-focus-inner {
    border: none;
  }
}

button {
  padding: 0.95rem;
  background-color: $white;
  border-radius: 0.5rem;
  border: 1px solid $main-color;
  color: $main-color;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1;
  letter-spacing: 0.1px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

input {
  font-size: 1.1rem;
}

:placeholder-shown {
  color: gray;
}

.input {
  padding: 0.7rem 2rem 0.7rem 2rem;
  width: 100%;
  background-color: inherit;
  font-size: 1.1rem;
  color: #fff;
  background-color: $main-color;
  caret-color: #fff;
  border: 1px solid $primary-color;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  border-color: #a1a2a4;

  &:hover {
    border-color: #fff;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $main-color inset !important;
    -webkit-text-fill-color: #fff;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

/* h1 typography */
h1 {
  font-size: clamp(
    2.2rem,
    6vw,
    4rem
  ); /* Responsive font size using clamp function */
  margin-bottom: 1rem; /* Bottom margin for spacing */
  /* Additional styles like font-family, color, etc. can be added here */
  // letter-spacing: 1px;
  font-weight: 800;
}

/* h2 typography */
h2 {
  font-size: clamp(
    2rem,
    4.5vw,
    3.2rem
  ); /* Responsive font size using clamp function */
  margin-bottom: 0.75rem; /* Bottom margin for spacing */
  font-weight: 800;
  /* Additional styles like font-family, color, etc. can be added here */
}

/* h3 typography */
h3 {
  font-size: clamp(
    1.3rem,
    5vw,
    1.5rem
  ); /* Responsive font size using clamp function */
  margin-bottom: 1rem; /* Bottom margin for spacing */
  /* Additional styles like font-family, color, etc. can be added here */
}

/* p typography */
p {
  font-size: clamp(
    0.9rem,
    4.5vw,
    1.15rem
  ) !important; /* Responsive font size using clamp function */
  margin-bottom: 1rem; /* Bottom margin for spacing */
  /* Additional styles like font-family, color, etc. can be added here */
  color: $dark-blue;
  line-height: 1.1;
}

a {
  font-size: clamp(
    0.9rem,
    5vw,
    1.1rem
  ); /* Responsive font size using clamp function */
  font-weight: 600; /* Normal font weight */
  /* Additional styles like font-family, color, etc. can be added here */
  color: $dark-blue;

  &:hover {
    color: $main-color;
    transition-duration: 0.2s;
  }
}

.copyright {
  //!!!
}
