@import 'normalize.css';
@import './variables.module.scss';
@import './mixins.module.scss';
// @import './fonts.scss';
@import url('https://use.typekit.net/qzf0hrt.css');

// Global SCSS Reset

// Box sizing
html {
  box-sizing: border-box;
  font-family: 'proxima-nova', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Reset margins and paddings
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

// Reset lists
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Reset typography
body,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

// Reset links
a {
  color: inherit;
  text-decoration: none;
}

// Reset images
img {
  max-width: 100%;
  height: auto;
}

// Reset form elements
button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  &::-webkit-input-placeholder {
    color: inherit;
  }
  &::-moz-placeholder {
    color: inherit;
  }
  &::-ms-input-placeholder {
    color: inherit;
  }
  &::-moz-focus-inner {
    border: none;
  }
}

button {
  padding: 1.1rem 1rem;
  font-size: clamp(0.7rem, 4.5vw, 1.15rem) !important;
  background-color: $yellow;
  border-radius: 0.5rem;
  color: $dark-blue;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
  letter-spacing: 0.1px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

input {
  font-size: 1.1rem;
  padding: 1rem;
  width: 100%;
  font-weight: 500;

  @media (max-width: 767px) {
    width: 100%;
  }
}

:placeholder-shown {
  color: gray;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $white inset !important;
}

.input {
  padding: 1rem 2rem;
  background-color: inherit;
  font-size: 1.1rem;
  color: #fff;
  background-color: $main-color;
  caret-color: #fff;
  border: 1px solid $primary-color;
  border-radius: 0.5rem;
  outline: none;
  border-color: #a1a2a4;

  &:hover {
    border-color: #fff;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $main-color inset !important;
    -webkit-text-fill-color: $white;
  }

  @media screen and (max-width: 374px) {
    font-size: 0.65rem;
    padding: 0.3rem 1rem;
  }
}

/* h1 typography */
h1 {
  font-size: clamp(2.1rem, 6vw, 3.9rem) !important;
  margin: 0 0 0.75rem 0 !important;
  font-weight: 800;
}

/* h2 typography */
h2 {
  font-size: clamp(
    1.75rem,
    4.5vw,
    2.6rem
  ); /* Responsive font size using clamp function */
  margin-bottom: 0.75rem;
  font-weight: 800;
}

/* h3 typography */
h3 {
  font-size: clamp(
    1.3rem,
    5vw,
    1.6rem
  ); /* Responsive font size using clamp function */
}
h4 {
  font-size: clamp(
    0.9rem,
    5vw,
    1.1rem
  ); /* Responsive font size using clamp function */
  font-weight: 600;
}

/* p typography */
p {
  font-size: clamp(
    0.9rem,
    4.5vw,
    1.15rem
  ); /* Responsive font size using clamp function */
  margin-bottom: 0.75rem;
  font-weight: 500;
  color: $dark-blue;
  line-height: 1.6 !important;
}

a {
  font-size: clamp(
    0.9rem,
    5vw,
    1.1rem
  ); /* Responsive font size using clamp function */
  font-weight: 600;
  color: $dark-blue;

  &:hover {
    color: $main-color;
    transition-duration: 0.2s;
  }
}

.copyright {
  //!!!
}

// antd collapse override
.ant-collapse-item:nth-child(3) {
  ul {
    padding-left: 0.5rem;
    li {
      padding: 0 0 0.5rem 0.8rem;
      position: relative;

      &::before {
        /* Style of the custom bullet points */
        content: '';
        position: absolute;
        left: 0;
        top: 0.85rem;
        transform: translateY(-50%);
        width: 6px; /* Width of the bullet point */
        height: 6px; /* Height of the bullet point */
        background-color: #111; /* Color of the bullet point */
        border-radius: 50%; /* Rounded shape of the bullet point */
      }

      h4 {
        font-size: clamp(0.8rem, 4.5vw, 0.95rem);
      }
      p {
        font-size: clamp(0.8rem, 4.5vw, 1rem);
        font-weight: 400;
      }
    }
  }
}
.ant-collapse-header {
  padding: 1rem 0 !important;
  flex-direction: row-reverse;
  align-items: center !important;
}

.ant-collapse-expand-icon {
  padding: 0 0 0 0.5rem !important;
}

.ant-collapse-content-box {
  padding: 0 0 1.5rem 0 !important;
}

@media screen and (max-width: 374px) {
  h1 {
    font-size: clamp(1.1rem, 5vw, 2rem);
  }
  h2 {
    font-size: clamp(1.1rem, 5vw, 1.5rem);
    margin-bottom: 0.4rem;
  }
  h3 {
    font-size: clamp(0.9rem, 5vw, 1.2rem);
  }
  h4 {
    font-size: clamp(0.7rem, 5vw, 0.9rem);
  }
  p {
    font-size: clamp(0.5rem, 5vw, 1rem);
    margin: 0;
  }

  button {
    padding: 0.5rem 0;
    font-size: clamp(0.7rem, 5vw, 1.1rem);
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $main-color;
}

::-webkit-scrollbar-corner {
  background: $yellow;
}

// react-phone-input reset
.PhoneInput {
  width: 100%;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  left: 0;
  top: calc(100% + 1.4rem);
  width: 100%;
  background-color: $white;
  z-index: 9999;
  border-radius: 0.5rem;

  ul {
    @include radius(0, 0, 0.5rem, 0.5rem);
    border: 1px solid $light-gray;
    border-radius: 0.5rem;

    li {
      @include flex(row, flex-start);
      height: 4rem;
      padding: 0 0.5rem;
      cursor: pointer;

      svg {
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: $main-color;

        p {
          color: $white;
        }
        span {
          color: lighten($color: gray, $amount: 15);
        }
        svg {
          color: $white !important;
        }
      }

      section {
        width: 90%;

        span {
          color: gray;
          font-weight: 500;
          font-size: clamp(0.6rem, 4.5vw, 0.8rem);
        }
        p {
          margin: 0;
          font-size: clamp(0.75rem, 4.5vw, 1rem);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 600;
        }
      }

      &:first-child {
        @include radius(0.5rem, 0.5rem, 0, 0);
      }

      &:last-child {
        @include radius(0, 0, 0.5rem, 0.5rem);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    min-width: 300px;
  }

  @media screen and (max-width: 767px) {
    min-width: 100%;
    top: calc(100% + 0.2rem);
  }

  @media screen and (max-width: 374px) {
    ul {
      li {
        height: 2.5rem;

        span {
          font-size: clamp(0.3rem, 4.5vw, 0.5rem);
        }
      }
    }
  }
}

.loading {
  color: $main-color;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map-container {
  @include radius(0.75rem, 0.75rem, 0, 0);
  height: 230px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    canvas {
      width: 100%;
    }
  }
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
