$main-color: #410eff;
$primary-color: #f7faff;
$yellow: #fced53;
$dark-blue: rgb(11, 53, 88);
$light-gray: rgb(205, 204, 204);
$light-blue: #e1e8ff;
$white: #fff;
$gray: gray;
$apricot: #e76b4a;
$white-bg: $white;
