$main-color: #410eff;
$primary-color: #f7faff;
$yellow: #fbe047;
$gray: #a1a2a4;
$dark-blue: rgb(11, 53, 88);
$light-gray: #ebebee;
$black: #030303;
$white: #fff;

$primary-bg: $primary-color;
$white-bg: $white;
