@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.container {
  width: 100%;
  max-width: 900px;

  .personalInfo {
    border-bottom: 2px solid $light-blue;
    padding-bottom: 3rem;

    .header {
      @include flex(row, space-between);

      h3 {
        flex: 1;
      }

      button {
        width: 5rem;
        height: 3.3rem;
        margin-bottom: 1rem;
      }
    }

    .info {
      @include flex(row, space-between, center);
      gap: 1rem;

      .error {
        border: 1px solid $error-color;
      }

      input {
        background-color: $white;
        width: 48%;
      }
    }
  }

  .paymentInfo {
    padding-top: 2rem;

    .header_ {
      @include flex(row, flex-start);
      gap: 1rem;
      padding-bottom: 2rem;

      .loading {
        font-size: 1.4rem;
      }
    }

    .methods {
      @include flex(column);
      gap: 1rem;
      padding-bottom: 1rem;

      .method {
        @include flex(row, space-between, center);
        border: 1px solid $light-blue;
        width: 100%;
        border-radius: 0.5rem;
        padding: 0.75rem 0.5rem;
        background-color: $white;

        button {
          @include flex();
          width: fit-content;
          background-color: $error-color;
          color: $white;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          padding: 0;
          margin: 0;
        }

        .methodInfo {
          @include flex(row, flex-start);

          img {
            margin-right: 0.5rem;
          }

          .default {
            margin-left: 0.5rem;
            color: gray;
          }
        }

        .loading {
          color: $white;
        }
      }
    }
  }

  .addCard {
    border-bottom: 2px solid $light-blue;

    button {
      width: fit-content !important;
      margin-bottom: 3rem !important;
    }

    .cancelBtn {
      background-color: $error-color !important;
      color: $white;
      margin-top: 2rem;
    }
  }

  .addPaymentForm {
    max-width: 500px;
  }

  .phoneNumber {
    padding: 3rem 0;

    h2 {
      font-size: clamp(1.6rem, 5vw, 2.4rem);
      font-weight: 700;
      color: $main-color;
      padding-top: 1rem;
    }

    span {
      color: gray;
      font-weight: 500;
    }
  }

  @media screen and (max-width: 767px) {
    .personalInfo {
      padding-bottom: 2rem;

      .info {
        input {
          width: 100%;
        }
      }
    }

    .paymentInfo {
      .methods .method {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem;
        height: 6.5rem;

        button {
          align-self: flex-end;
        }
      }
    }

    .addCard button {
      margin-bottom: 2rem !important;
    }

    .phoneNumber {
      padding: 2rem 0;
    }
  }

  p {
    margin: 0;
  }
}
