@import '/styles/mixins.module.scss';
@import '/styles/variables.module.scss';

.container {
  width: 100%;
  max-width: 900px;

  .header {
    @include flex(row, space-between, center);

    h3 {
      padding-bottom: 1rem;
    }

    button {
      width: 5rem !important;
      height: 3.3rem;
    }
  }

  .personalInfo {
    border-bottom: 2px solid $light-blue;
    padding-bottom: 3rem;

    .info {
      @include flex(row, space-between, center);
      gap: 1rem;

      .error {
        border: 1px solid $error-color;
      }

      input {
        background-color: $white;
        width: 48%;
      }
    }
  }

  .paymentInfo {
    padding-top: 2rem;

    .header_ {
      @include flex(row, flex-start);
      gap: 1rem;
      padding-bottom: 2rem;

      .loading {
        font-size: 1.4rem;
      }
    }

    .methods {
      @include flex(column);

      gap: 1rem;

      .method {
        @include flex(row, space-between, center);
        border: 1px solid $light-gray;
        width: 100%;
        border-radius: 0.5rem;
        padding: 0.5rem;

        button {
          @include flex();
          width: fit-content;
          background-color: $error-color;
          color: $white;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          padding: 0;
          margin: 0;
        }

        .methodInfo {
          @include flex(row, flex-start);

          img {
            margin-right: 0.5rem;
          }

          .default {
            margin-left: 0.5rem;
            color: gray;
          }
        }

        .loading {
          color: $white;
        }
      }
    }
  }

  p {
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    .personalInfo {
      .info {
        input {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 374px) {
  }
}
